.formDiv{
    width: 80%;
    margin: auto;
    padding: 10px;
    padding-bottom: 40px;

}

.heading{
    font-family: 'Halant';
}

/* form{
    width: 50%;
    background: orange;
} */
.childDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input{
    width: 250px;
    height: 30px;
}

.label{
    font-family: "Halant";
    font-size: 20px;
    font-weight: 600;
}

.radioLabel{
    font-family: 'Manrope';
    font-weight: 600;
}

button{
    width: 250px;
    height: 35px;
    background: #155EEF;
    border: none;
    color: white;
    font-family: 'Manrope';
    margin-left: 200px;
}

.mainDiv{
    width: 40%;
    margin: auto;
    background: #FFFF;
}

body{
    background: #F5F5F5;
}