*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.formDiv{
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-bottom: 40px;

}

.heading{
    font-family: 'Halant';
}


.childDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 20px; */
    margin-top: 30px;
}

.formInput{
    width: 50%;
    height: 40px;
    padding: 5px;
}



.label{
    font-family: "Halant";
    font-size: 20px;
    font-weight: 600;
}

.radioLabel{
    font-family: 'Manrope';
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: flex-end;
}

button {
    width: 40%;
    height: 35px;
    background: #155EEF;
    border: none;
    color: white;
    font-family: 'Manrope';
    margin-top: 20px;
}



.mainDiv{
    width:50%;
    margin: auto;
    background: #FFFF;
}

body{
    background: #F5F5F5;
}

@media screen and (max-width:1030px){
    .formInput{
        width: 40%;
    }

    .mainDiv{
        width:70%;
    }
}