.main-div{
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat';
}

.indexMainDiv{
    width: 40%;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
    color: blue;
}

button{
    background-color: blue;
    width: 20%;
    padding: 2%;
    border-radius: 50px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

span{
    margin-left: 0;
}

ul{
    list-style:lower-roman;
}

.indexUl{
    list-style: lower-alpha;
}